
// poniżej nadpisujemy to, co ustawił DMS
layout {
    gaps 8
    focus-ring {
        width 4
        // active-gradient from="#fff4b0" to="#d4a017" angle=180
        // active-gradient from="#00bfff" to="#d4a017" angle=180
            
        // deep sky blue
        // active-color "#00bfff"

        // klasyczny blue sky
        active-color "#87ceeb"

        // active-color "#fff4b0"
    }
}

// centrowanie kursora myszy po przeskoczeniu z focus na okno
input {
    warp-mouse-to-focus mode="center-xy"
}

binds {
    Mod+B       { spawn "bookmark-type"; }
    Mod+Alt+B       { spawn "bookmark-open"; }
    Mod+Shift+B { spawn "bookmark-add"; }
}
